@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

@import "./reset";

body {
  background-color: #282c35;
  color: #f2f2f2;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  padding-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 0rem 2rem;
}

header {
  line-height: 100px;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav h1,
nav span {
  flex: 0 0 50%;
  max-width: 50%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  padding-right: 1rem;
}

nav ul li svg {
  display: flex;
  align-items: center;
}

nav ul li svg {
  width: 20px;
}

section {
  margin-bottom: 2rem;
}

article h1 {
  margin-bottom: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #98c7c1;
  font-family: "Francois One", sans-serif;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

strong {
  font-weight: 700;
}

ul,
ol {
  list-style: circle;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

li {
}

time {
  font-size: 0.75rem;
}

a {
  color: #98c7c1;
  cursor: pointer;
}

img {
  margin-bottom: 2rem;
}

em {
  font-style: italic;
}

small {
  font-size: 12px;
}

hr {
  opacity: 0.2;
  margin-bottom: 2rem;
}

form input {
  width: 100%;
  max-width: 300px;
  line-height: 46px;
  padding: 0 10px;
  box-shadow: 0;
  outline: 0;
  border-radius: 0;
  border: 2px solid #f2f2f2;
  background-color: transparent;
  color: #f2f2f2;
  display: inline-block;
  margin-right: 15px;
  margin-bottom: 15px;
}

form button {
  width: 100%;
  max-width: 100px;
  height: 50px;
  box-shadow: 0;
  outline: 0;
  border-radius: 0;
  border: 2px solid #f2f2f2;
  border-radius: 5px;
  background-color: transparent;
  color: #f2f2f2;
  display: inline-block;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

form button:hover {
  background-color: #f2f2f2;
  color: #282c35;
}
