@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");

@import "./reset";

body {
  background-color: #282c35;
  color: #f2f2f2;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  padding-top: 3rem;
}

body {
  margin-left: auto;
  margin-right: auto;
  max-width: 42rem;
  padding: 0rem 2rem;
}

header {
  margin: 2rem 0rem;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav h1,
nav h3 {
  flex: 0 0 50%;
  max-width: 50%;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  padding-right: 1rem;
}

section {
  margin-bottom: 2rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #98c7c1;
  font-family: "Francois One", sans-serif;

  a {
    text-decoration: none;
  }
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1rem;
}

p {
  margin-bottom: 1.5rem;
}

strong {
  font-weight: 700;
}

ul,
ol {
  list-style: circle;
  padding-left: 1rem;
  margin-bottom: 1rem;
}

img {
  max-width: 100%;
}

li {
}

time {
  font-size: 0.75rem;
}

a {
  color: #98c7c1;
  cursor: pointer;
}

img {
  margin-bottom: 2rem;
}

em {
  font-style: italic;
}

hr {
  margin-bottom: 2rem;
}
